
html {

  background: url(apps/picture/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body{
  margin: 0;
}

h2{
  color: white;
  font-family: cursive;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

p {
  color: red;
  text-align: justify;
  word-wrap: break-word;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Roboto', sans-serif;
}

.pmodal{
  color: #111;
  text-align: justify;
  word-wrap: break-word;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  font-family: 'Roboto', sans-serif;
}

.container-grid{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 auto 0 auto;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container{
   margin: auto;
   width: 60%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.5);
}


.middle-align{
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%) }   /* 4 */
}



.container-fill{
  padding: 20px 40px;
}

.button-play{
  position: relative;
      top : 50px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: red;
    border-radius: 50px;
    border: 3px solid red;
    background-color: #f6c9c9;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-play:hover{
    color: #f6c9c9;
    border: 3px solid #f6c9c9;
    background-color: red;
}

#overlay {
     visibility: hidden;

     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;

     background-color:rgba(255, 255, 255, 0.7);
     z-index: 1000;
}

.container-modal{
   margin: auto;
   margin-top: 60px;
   max-width: 884px;
   height: 500px;
   background: url(apps/picture/background-modal.jpg) no-repeat center center fixed ;
   /*

   background-color:rgba(233, 181, 181, 1);
   */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
