.container
{
	top: 70px;
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
  background-color: transparent;
}

.full-width 
{
	width: 100%;
	height: auto;
}

.header-container
{
	margin-top: 0px;
	position: absolute;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.table-custom{
	position: relative;
  
  border-collapse: collapse;
  /*white-space: nowrap;*/
  font-size: 13px;
  background-color: rgb(255,255,255); }
  .mdl-data-table thead {
    padding-bottom: 3px; }
    .mdl-data-table thead .mdl-data-table__select {
      margin-top: 0; }
  .mdl-data-table tbody tr {
    position: relative;
    height: 48px;
    -webkit-transition-duration: 0.28s;
            transition-duration: 0.28s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: background-color;
            transition-property: background-color; }
    .mdl-data-table tbody tr.is-selected {
      background-color: #e0e0e0; }
    .mdl-data-table tbody tr:hover {
      background-color: #eeeeee; }
  .mdl-data-table td, .mdl-data-table th {
    padding: 0 18px 0 18px;
    text-align: right; }
    .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
      padding-left: 24px; }
    .mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
      padding-right: 24px; }
  .mdl-data-table td {
    position: relative;
    vertical-align: top;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 12px;
    box-sizing: border-box; }
    .mdl-data-table td .mdl-data-table__select {
      vertical-align: top;
      position: absolute;
      left: 24px; }
  .mdl-data-table th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 8px;
    box-sizing: border-box; }
    .mdl-data-table th .mdl-data-table__select {
      position: absolute;
      bottom: 8px;
      left: 24px; }

.card-custom{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  bottom: 100px;
  border: 1px solid grey;
  max-height: 1000px; 
  box-shadow: 5px 5px 5px grey;
}

img {
    max-width: 100%;
    height: auto;
}

.card-custom_picture{
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 1px grey;
}

.card-custom_title{
  position: absolute;
  left: 15px;
  bottom: 5px;  
}

.card-custom_content{
  position: relative;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 12;
}

